body {
    background-image: url(images/khaadi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.logo img{
    width: 90px;
    display: inline-block;
    
}
h1{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
}


